@model Contacts.Models.FiltersModels
@using MvcControls.Controls

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FiltersModels</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CityList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.ListViewFor(model => model.CityList, showSearchField: true, showCheckAll: true)
               @* <span>@Model.SelectionResult</span>*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.ListViewFor(model => model.CountryList, showSearchField: true, showCheckAll: true)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.SelectionResult, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.SelectionResult)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Styles.Render("~/Content/ListView.css")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/listView.js")
}

