@using MvcControls.Controls
@model MvcControls.Models.ListViewTestModel

@{
    ViewBag.Title = "ListView Demo";
}

<h2>ListView Demo</h2>

@using (Html.BeginForm("Test", "ListView"))
{
    <div class="row">
        <div class="col-md-4">
            @Html.ListViewFor(m => m.DieChicks, showSearchField: true, showCheckAll: true)
            <span>@Model.SelectionResult</span>
        </div>
        <div class="col-md-4">
            @Html.ListViewFor(m => m.MeineItems, showSearchField: true, showCheckAll: true)
        </div>
    </div>
    
    <input type="submit" value="Submit Page" class="btn-default btn"/>
}

@Styles.Render("~/Content/ListView.css")

@section scripts
{
    @Scripts.Render("~/Scripts/listView.js")
}

